.technology {
  height: 500px;
  padding: 65px 0 100px;
  &__title {
    @include font(36px, 43px);
    font-style: normal;
    font-weight: 600;
    text-align: center;
    margin-bottom: 50px;
  }

  &__content {
    position: relative;

    &-description {
      display: flex;
      flex-direction: column;
      align-items: center;
      row-gap: 10px;
      position: absolute;
      top: 55px;
    }
    &-description3{
     left: 12px;
    }
&-icon{
  width: 75px;
  height: 75px;
}
    &-icon4{
      margin-top: 14px;
      width: 60px;
      height: 60px;
    }

    &-num {
      @include font(100px, 120px);
      font-style: normal;
      font-weight: bold;
      color: rgba(16, 16, 16, 0.08);
      text-align: center;
    }

    &-title {
      @include font(18px, 22px);
      font-style: normal;
      font-weight: bold;
      text-align: center;
    }

    &-text {
      @include font(12px, 14px);
      font-style: normal;
      font-weight: normal;
      text-align: center;
    }


  }

}